<%- include('includes/header') %>

<% if(metaAtual && userMetas){ %>
<main class="grid-container">
    <div class="cards">   
            <div class="card-item">
                <div class="card-title">
                    <h2>Nome</h2>
                </div>
                <h1><%- metaAtual.nome %></h1>
            </div>

            <div class="card-item">
                <div class="card-title">
                    <h2>Valor</h2>
                </div>
                <h1><%- metaAtual.valorMeta %></h1>
            </div>

            <div class="card-item">
                <div class="card-title">
                    <h2>Prazo</h2>
                </div>
                <h1><%- metaAtual.prazoMeta %></h1>
            </div>

            <div class="card-item">
                <div class="card-title">
                    <h2>Progresso</h2>
                </div>
            </div>
        </div>
        <div class="charts">
            <div class="chart-item info"></div>
            <div class="chart-item more">
                <div class="selecionarMeta">
                    <label for="escolherMeta">Escolha a sua meta: </label>
                    <select name="escolherMeta" id="escolherMeta">
                        <option value="">Atual</option>
                        <% userMetas.forEach( elemento => { %>
                            <option value="/dashboard/<%- elemento.id %>"><%- elemento.nome %></option>
                        <% }) %>
                        <option value="/registrarMeta">Adicionar Meta</option>
                    </select>
                </div>
                <div class="form">
                    <form action="/dashboard" method="post">
                        <input type="hidden" name="<%= user %>">
                        <input type="text" name="valorMeta">
                        <button>Atualizar</button>
                    </form>
                </div>
            </div>
        </div>
</main>
<% } %>

<%- include('includes/footer') %>